@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "~@flaticon/flaticon-uicons/css/all/all";

/* to fix tailwind overriding mui style */
.MuiButton-contained:enabled {
    background-color: #152033 !important;
}

.MuiOutlinedInput-input:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}


/* width */
::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #88888842;
}